<%- include("templates/header") %>
    <h1>Cats!</h1>
    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col"><img src='/fluffy.gif' class="img-fluid"></div>
        <div class="col-md-4 themed-grid-col"><img src='/socks.gif' class="img-fluid"></div>
        <div class="col-md-4 themed-grid-col"><img src='/computer.gif' class="img-fluid"></div>
    </div>
<%- include("templates/footer") %> 